.navbar{
    background-color: #F6DE00;
}
.teste{
    border: solid;
    background-color: #F6DE00;
    opacity: 80%;
    height: 400px;
    width: 50%;
    margin-top: 10px;
    position: relative;
    left: 30px;
}
.teste2{
    border: solid;
    background-color:  #F6DE00;
    height: 30%;
    width: 30%;
    margin-top: 60px;
    position: relative;
    right: 40px;
}
img{
    width: 100%;
    
}
header{
    margin: 0 auto;
}
#logotipo{
    width:5%;
}


.our-concept{
    height: 400px;
    margin: 60px 50px;
}
footer{
    background-color: #F6DE00;
    height: 160px;
    margin-top: 50px;
    
    bottom: 0;
}

#contact-area{
    text-align:center;
    margin-top:30px;
}

#copy-area{
    margin-top: 10;
    margin-bottom: 0;
}
.contact-box{
   
}
.contact-box p {
    font-size: 16px;
}
.contact-title {
    font-weight: bold;
}
